<!DOCTYPE html>
<html>
  <head>
    <title>ProjectSurveyor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% unless current_page?(controller: 'surveys', action: 'home') %>
    <%= render partial: "shared/nav" %>
  <% end %>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
